body{
font-family:Corbel,Verdana,Arial,Helvetica,sans-serif;
color:#424A5E;
}
pre{
	margin:4px 0;
	border:1px #bbb solid;
	line-height:1.3em;
	padding:4px 8px;
	font-size:90%;
	max-height:580px;
	overflow:auto;
	word-wrap: normal;
}
li pre {
	width:548px;
}
p code, li code {
	border-bottom:1px solid #bbb;
	padding:0 2px;
}

p pre code, li pre code {
	border-bottom-width:0;
}
.entry pre{
	padding:4px 8px;
	border:1px #bbb solid;
}
pre,code{font-family:Consolas,"Bitstream Vera Sans Mono",monospace,"Courier New";color:#333;background-color:#f8f8f8;}
.postCon{font-size:14px;}

body{background:url(https://luciasoto.es/img/07_inter04.png) top left no-repeat;}
form{background:url(https://luciasoto.es/img/01_main.png) bottom left no-repeat;}

#main{background-color:#FFFCED;opacity:0.9}
#blogTitle .title a{font-size:30px;color:#463D36;}
.postBody{font-size:14px;line-height:25px;}
.postBody a{color:#318B92}
.postBody table{border:collapse}
.postBody td{border: 1pt solid #000000;padding: 5pt;vertical-align: top;width: 117pt;}
.postBody table td p{margin:0;}
.postBody p, .postCon p{margin-bottom:20px;}